<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="assets/eco-cap.png" alt="EcoCap Logo" class="logo-img">
    </div>
    <ul class="nav-links">
      <li routerLink="/dashboard" routerLinkActive="active">Tableau de bord</li>
      <li routerLink="/sites-batiments" routerLinkActive="active">
        Sites et Bâtiments
      </li>
      <li routerLink="/saisie-releves" routerLinkActive="active">
        Saisie des relevés
      </li>
      <li routerLink="/recommendations" routerLinkActive="active">Recommandations</li>
      <li>Paramètres</li>
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
